<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <a href="/create">Add a bog post</a> <br />

    <ul>
        <% posts.forEach(function({ title, content }){ %>
            <li>
                <b><%= title %></b> 
                <br />
                <%= content %>
            </li>
            <br />
        <% }); %>
    </ul>
</body>
</html>