<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <a href="/create">Add</a> <br />

    <ul>
        <% posts.forEach(function({ title, content }){ %>
            <li>
                <%= title %> <br />
                <%= content %>
            </li>
        <% }); %>
    </ul>
</body>
</html>